.card-body {
  padding-bottom: 0;
}

.card-footer {
  background-color: transparent;
  border: 0;
  padding-top: 0;
}

.box {
  min-height: calc(100% - 24px);
  border-radius: 10px;
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.items {
  margin-bottom: 10px;
}

.item-btn {
  margin: 5px;
  border-color: #17a2b8;
}

.item-btn:hover {
  border-color: #17a2b8;
}

.btn-area {
  text-align: center;
}

.clear-btn {
  border-color: #28a745;
  float: right;
  margin-top: 2px;
}

.clear-btn:hover {
  width: 58px;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.tagit-bar {
  width: calc(100% - 63px);
  display: inline-block;
  margin: 0;
}

header {
  color: aliceblue;
  font-size: 18px;
}

.info {
  display: flex;
}

.info > div {
  margin: 0 5px;
}

.contact-body img {
  width: 20px;
}

.contact-body i {
  font-size: 20px;
}

.last-update-time {
  font-size: 1rem;
}

.detail-model-label {
  width: 100%;
}

.coupon-detail-link {
  color: #007bff;
  cursor: pointer;
}

.coupon-detail-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

.text-gray {
  color: gray;
}

.top-btn {
  font-size: 40px;
  position: fixed;
  bottom: 5px;
  right: 10px;
  z-index: 99;
  cursor: pointer;
  opacity: 75%;
}

.top-btn:active {
  opacity: 100%;
}

.coupon-count {
  display: contents;
  margin-left: 10px;
}

.tools-row {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5px;
}

:root {
  --jumbotron-padding-y: 3rem;
}

@media (max-width: 575px) {
  .hander {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 400px) {
  .last-update-time .hide-small-screen {
    display: none;
  }
}
