.date {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.box {
  min-height: calc(100% - 24px);
  border-radius: 10px;
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.items {
  margin-bottom: 10px;
}

.item-btn {
  margin: 5px;
  border-color: #17a2b8;
}

.item-btn:hover {
  border-color: #17a2b8;
}

.btn-area {
  text-align: center;
}

.clear-btn {
  border-color: #28a745;
  float: right;
  margin-top: 2px;
}

.clear-btn:hover {
  width: 58px;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.tagit-bar {
  width: calc(100% - 63px);
  display: inline-block;
  margin: 0;
}

:root {
  --jumbotron-padding-y: 3rem;
}
